.maypage-sidebar
  %nav.mypage-nav
    %ul.mypage-nav__list
      %li
        = link_to mypage_user_index_path do
          マイページ
          = fa_icon "chevron-right", class: 'right-arrow-icon'
      %li
        = link_to mypage_user_index_path do
          お知らせ
          = fa_icon "chevron-right", class: 'right-arrow-icon'
      %li
        = link_to mypage_user_index_path do
          やることリスト
          = fa_icon "chevron-right", class: 'right-arrow-icon'
      %li
        = link_to mypage_user_index_path do
          いいね！一覧
          = fa_icon "chevron-right", class: 'right-arrow-icon'
      %li
        = link_to mypage_user_index_path do
          出品する
          = fa_icon "chevron-right", class: 'right-arrow-icon'
      %li
        = link_to mypage_user_index_path do
          出品した商品-出品中
          = fa_icon "chevron-right", class: 'right-arrow-icon'
      %li
        = link_to mypage_user_index_path do
          出品した商品-取引中
          = fa_icon "chevron-right", class: 'right-arrow-icon'
      %li
        = link_to mypage_user_index_path do
          出品した商品-売却済み
          = fa_icon "chevron-right", class: 'right-arrow-icon'
      %li
        = link_to mypage_user_index_path do
          購入した商品-取引中
          = fa_icon "chevron-right", class: 'right-arrow-icon'
      %li
        = link_to mypage_user_index_path do
          購入した商品-過去の取引
          = fa_icon "chevron-right", class: 'right-arrow-icon'
      %li
        = link_to mypage_user_index_path do
          ニュース一覧
          = fa_icon "chevron-right", class: 'right-arrow-icon'
      %li
        = link_to mypage_user_index_path do
          評価一覧
          = fa_icon "chevron-right", class: 'right-arrow-icon'
      %li
        = link_to mypage_user_index_path do
          ガイド
          = fa_icon "chevron-right", class: 'right-arrow-icon'
      %li
        = link_to mypage_user_index_path do
          お問い合わせ
          = fa_icon "chevron-right", class: 'right-arrow-icon'
    %h3
      メルペイ
    %ul.mypage-nav__list
      %li
        = link_to mypage_user_index_path do
          売上・振込申請
          = fa_icon "chevron-right", class: 'right-arrow-icon'
      %li
        = link_to mypage_user_index_path do
          ポイント
          = fa_icon "chevron-right", class: 'right-arrow-icon'
    %h3
      設定
    %ul.mypage-nav__list
      %li
        = link_to mypage_user_index_path do
          プロフィール
          = fa_icon "chevron-right", class: 'right-arrow-icon'
      %li
        = link_to mypage_user_index_path do
          発送元・お届け先住所変更
          = fa_icon "chevron-right", class: 'right-arrow-icon'
      %li
        = link_to mypage_user_index_path do
          お支払い方法
          = fa_icon "chevron-right", class: 'right-arrow-icon'
      %li
        = link_to mypage_user_index_path do
          メール/パスワード
          = fa_icon "chevron-right", class: 'right-arrow-icon'
      %li
        = link_to mypage_user_index_path do
          本人情報
          = fa_icon "chevron-right", class: 'right-arrow-icon'
      %li
        = link_to mypage_user_index_path do
          電話番号の確認  
          = fa_icon "chevron-right", class: 'right-arrow-icon'
      %li
        = link_to mypage_user_index_path do
          ログアウト
          = fa_icon "chevron-right", class: 'right-arrow-icon'